@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf')
}

*{
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;

  /* background: #1e3c72;   */
  /*  fallback for old browsers */ 
  /* background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);   */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #2a5298, #1e3c72);  */
  /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
